#title {
    text-align: center;
}
body {
    margin: 3em;
}
label {
    display: inline-block;
    text-align: right;
}
#button-container {
    margin-top: 2em;
}
#introduction {
    text-align: justify;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: white;
    text-align: center;
  }